::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
  cursor: auto;
}

// horizontal scrollbar
::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 10px;
  min-height: 10%;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

.container {
  width: 100%;

  @media screen and (max-width: 480px) {
    width: 100%;
  }

  .space {
    flex: 1;
  }
}

body {
  overflow-y: overlay;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

.row {
  display: flex;
  column-gap: 8px;

  .space {
    flex-basis: 0px;
    flex-shrink: 0;
    flex-grow: 1;
  }
}

.row.actions {
  align-items: center;
}

*::-webkit-scrollbar-corner {
  background-color: transparent;
}

.card-group {
  > :not(:last-child) {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  > :not(:first-child) {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    margin-top: -1px !important;
  }
}
.key {
  flex: 0 0 90px;
}

.value {
  flex: 1;
}

html {
  overflow-y: overlay;
}

.reports-table {
  min-width: 1000px;

  .table-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    font-size: 12px;

    &.header {
      font-weight: 700;
      border-bottom: 1px solid #e6e6e6;
    }

    .date {
      flex: 0 0 100px;
    }

    .symptom {
      flex: 1 0 20px;
      display: flex;
      justify-content: center;
      align-items: center;

      .n-icon {
        margin-left: 4px;
      }
    }

    .dot-container:not(.selected):not(.disabled):hover .dot {
      box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.1);
      /* More visible shadow */
      cursor: pointer;
      transform: scale(1.1);
      /* Slightly larger scale */
      // animation: float 0.5s ease-in-out infinite;
    }

    .selected .dot {
      outline: 2px solid #5e5d5f;
      transform: scale(1.1);
      /* Slightly larger scale */
    }

    /* Adjusted floating effect for smaller movement due to size */
    @keyframes float {
      0%,
      100% {
        transform: translateY(0) scale(1.2);
      }

      50% {
        transform: translateY(-3px) scale(1.2);
      }
    }
  }
}

.table-row-block {
    border-radius: 4px;
    &.selected {
      outline: 2px solid #a1a1a1;
      // background-color: #f8f8f8;
    }

    &.odd {
      background-color: #f0f0f0;
    }
}
